In [ ]:
from google.colab import files
uploaded = files.upload()

Saving train.csv to train (1).csv

In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
df = pd.read_csv("train.csv")
df.head(10)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
6,8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,5.20
7,9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,5.0,NaN,1.95
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
9,11,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,NaN,4.49

# Remove Units (extract numbers) (PART B)

In [ ]:
def extract_number(value):
    if pd.isnull(value):
        return np.nan
    match = re.search(r"(\d+\.?\d*)", str(value))
    return float(match.group(1)) if match else np.nan

df["Mileage"] = df["Mileage"].apply(extract_number)
df["Engine"] = df["Engine"].apply(extract_number)
df["Power"] = df["Power"].apply(extract_number)
df["New_Price"] = df["New_Price"].apply(extract_number)
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,8.61,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,NaN,3.50

# Handle Missing Values (PART A)

In [ ]:
# Show missing values per column percentage
print((df.isnull().mean() * 100).round(2))

Unnamed: 0            0.00
Name                  0.00
Location              0.00
Year                  0.00
Kilometers_Driven     0.00
Fuel_Type             0.00
Transmission          0.00
Owner_Type            0.00
Mileage               0.03
Engine                0.62
Power                 0.62
Seats                 0.65
New_Price            86.06
Price                 0.00
dtype: float64

In [ ]:
# Drop New_Price (too many missing, 86% missing)
df.drop(columns=["New_Price"], inplace=True)

# Median imputations, these columns are associated with car model, so median is safest for them.
for col in ["Mileage", "Engine", "Power"]:
    df[col] = df[col].fillna(df[col].median())

# Seats (mode), Using mode is best. Most cars are 5 seaters - mode = 5
df["Seats"] = df["Seats"].fillna(df["Seats"].mode()[0])

In [ ]:
df.head(10)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36,2755.0,171.50,8.0,17.50
6,8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54,1598.0,103.60,5.0,5.20
7,9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.30,1248.0,74.00,5.0,1.95
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56,1462.0,103.25,5.0,9.95
9,11,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.80,1497.0,116.30,5.0,4.49

# Encode Categorical Variables (PART C)

In [ ]:
df = pd.get_dummies(df, columns=["Fuel_Type", "Transmission"], drop_first=False)
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,True,False,False,False,True
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,False,False,True,False,True
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,True,False,False,False,True
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,True,False,False,True,False
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,True,False,False,False,True

# Create Car Age Feature (PART D)

In [ ]:
df["Car_Age"] = 2025 - df["Year"]
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,True,False,False,False,True,10
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,False,False,True,False,True,14
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,True,False,False,False,True,13
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,True,False,False,True,False,12
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,True,False,False,False,True,12

In [ ]:
#df.to_csv("processed_data", index=False)

# SELECT OPERATION (PART E)

In [ ]:
df_select = df[["Location", "Name", "Year", "Kilometers_Driven", "Price"]]
df_select.head()

,Location,Name,Year,Kilometers_Driven,Price
0,Pune,Hyundai Creta 1.6 CRDi SX Option,2015,41000,12.50
1,Chennai,Honda Jazz V,2011,46000,4.50
2,Chennai,Maruti Ertiga VDI,2012,87000,6.00
3,Coimbatore,Audi A4 New 2.0 TDI Multitronic,2013,40670,17.74
4,Jaipur,Nissan Micra Diesel XV,2013,86999,3.50

# FILTER: Diesel Cars in Hyderabad

In [ ]:
df_filter = df[(df["Fuel_Type_Diesel"] == 1) & (df["Location"] == "Hyderabad")]
df_filter.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Car_Age
24,26,Nissan Micra Diesel XV,Hyderabad,2012,54000,First,16.48,1461.0,63.1,5.0,4.25,True,False,False,False,True,13
56,58,Nissan X-Trail SLX AT,Hyderabad,2010,121812,First,9.49,1995.0,147.6,5.0,7.75,True,False,False,True,False,15
75,78,Toyota Innova 2.5 VX 7 STR BSIV,Hyderabad,2012,104000,First,12.80,2494.0,102.0,7.0,11.75,True,False,False,False,True,13
79,83,Ford Figo Diesel ZXI,Hyderabad,2012,70337,First,20.00,1399.0,68.0,5.0,2.80,True,False,False,False,True,13
102,107,Jaguar XF 3.0 Litre S Premium Luxury,Hyderabad,2011,78000,Second,14.74,2993.0,270.9,5.0,24.00,True,False,False,True,False,14

# RENAME OPERATION

In [ ]:
df_rename = df.rename(columns={
    "Mileage": "kilometers/liter",
    "Kilometers_Driven": "Mileage"
})
df_rename.head()

,Unnamed: 0,Name,Location,Year,Mileage,Owner_Type,kilometers/liter,Engine,Power,Seats,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,True,False,False,False,True,10
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,False,False,True,False,True,14
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,True,False,False,False,True,13
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,True,False,False,True,False,12
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,True,False,False,False,True,12

# SORT OPERATION

In [ ]:
df_arranged = df.sort_values(by="Price", ascending=False)
df_arranged.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Car_Age
3952,4079,Land Rover Range Rover 3.0 Diesel LWB Vogue,Hyderabad,2017,25000,First,13.33,2993.0,255.0,5.0,160.00,True,False,False,True,False,8
5620,5781,Lamborghini Gallardo Coupe,Delhi,2011,6500,Third,6.40,5204.0,560.0,2.0,120.00,False,False,True,True,False,14
5752,5919,Jaguar F Type 5.0 V8 S,Hyderabad,2015,8000,First,12.50,5000.0,488.1,2.0,100.00,False,False,True,True,False,10
1457,1505,Land Rover Range Rover Sport SE,Kochi,2019,26013,First,12.65,2993.0,255.0,5.0,97.07,True,False,False,True,False,6
1917,1974,BMW 7 Series 740Li,Coimbatore,2018,28060,First,12.05,2979.0,320.0,5.0,93.67,False,False,True,True,False,7

# GROUP BY + SUMMARIZE

In [ ]:
df_multi_summary = df.groupby("Location").agg(
    avg_price=("Price", "mean"),
    max_price=("Price", "max"),
    min_price=("Price", "min"),
    total_cars=("Name", "count")

).reset_index()

df_multi_summary

      Location  avg_price  max_price  min_price  total_cars
0    Ahmedabad   8.567248      85.00       0.75         218
1    Bangalore  13.482670      93.00       1.65         352
2      Chennai   7.958340      70.00       0.70         476
3   Coimbatore  15.160206      93.67       1.68         631
4        Delhi   9.881944     120.00       0.75         540
5    Hyderabad   9.997423     160.00       0.60         710
6       Jaipur   5.916725      42.50       0.45         403
7        Kochi  11.309109      97.07       1.26         640
8      Kolkata   5.733924      75.00       0.65         525
9       Mumbai   9.592546      75.00       0.55         762
10        Pune   6.951000      68.00       0.44         590